.root-1 {
  width: 100%; }

.section-1,
.section-3 {
  background-color: #232323; }

.section-2 {
  background-color: white; }

.header {
  padding: 30px 5% 20px 5%;
  display: flex;
  flex-direction: row; }
  .header__title {
    color: white;
    font-size: large;
    cursor: pointer; }
    .header__title-section {
      flex: 0 1 50%; }
  .header__menu-section {
    display: flex;
    flex: 0 1 50%;
    flex-direction: row;
    justify-content: space-between; }
  .header__menu_item-1 {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #cecece; }
    .header__menu_item-1:hover {
      color: white;
      cursor: pointer; }
  .header__menu_item-2 {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #cecece; }
    .header__menu_item-2:hover {
      color: white;
      cursor: pointer; }
  .header__menu_item-3 {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #cecece; }
    .header__menu_item-3:hover {
      color: white;
      cursor: pointer; }
  .header__menu_item-4 {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color: #cecece; }
    .header__menu_item-4:hover {
      color: white;
      cursor: pointer; }

.slogan {
  font-size: 6vw;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 60%; }
  .slogan__sub {
    font-size: 2vw;
    color: #cecece;
    text-align: center;
    width: 60%; }
  .slogan__p {
    font-size: 2vw;
    color: #999999;
    text-align: center;
    width: 60%; }

.registerbox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 45%; }
  .registerbox__email {
    flex: 0 1 80%;
    background-color: #343434;
    color: #999999;
    font-size: 1.5vw;
    padding: 20px 10px 20px 10px;
    border-radius: 5px 0px 0px 5px;
    resize: none;
    /*remove the resize handle on the bottom right*/ }
    .registerbox__email [contenteditable="true"]:focus {
      outline: none; }
    .registerbox__email [contenteditable="true"]:empty:before {
      content: attr(placeholder);
      display: block;
      /* For Firefox */ }
    .registerbox__email[contenteditable="true"] {
      color: #333;
      font-size: 12px;
      width: 300px;
      padding: 5px; }
  .registerbox__button {
    cursor: pointer;
    flex: 0 1 20%;
    background-color: #57a5dc;
    color: white;
    font-size: 1.5vw;
    padding: 20px 10px 20px 10px;
    text-align: center;
    border-radius: 0px 5px 5px 0px; }
  .registerbox__warning {
    font-size: 1.5vw;
    color: #999999;
    text-align: center;
    width: 40%; }

.explanation-1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 90%;
  margin: 0 auto; }
  .explanation-1__description {
    flex: 0 1 60%;
    font-size: 35px;
    font-weight: bolder; }
    .explanation-1__description-section {
      position: relative;
      width: 50%;
      padding: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .explanation-1__description_sub {
      color: #999999;
      width: 80%; }
  .explanation-1__video {
    flex: 0 1 40%;
    width: 45%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #888; }

.explanation-2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 90%;
  margin: 0 auto; }
  .explanation-2__description {
    flex: 0 1 60%;
    font-size: 35px;
    font-weight: bolder;
    text-align: right; }
    .explanation-2__description-section {
      position: relative;
      width: 50%;
      padding: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
    .explanation-2__description_sub {
      color: #999999;
      width: 80%;
      text-align: right; }
  .explanation-2__video {
    flex: 0 1 40%;
    width: 45%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #888; }

.explanation-3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 90%;
  margin: 0 auto; }
  .explanation-3__description {
    flex: 0 1 60%;
    font-size: 35px;
    font-weight: bolder; }
    .explanation-3__description-section {
      position: relative;
      width: 50%;
      padding: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .explanation-3__description_sub {
      color: #999999;
      width: 80%; }
  .explanation-3__video {
    flex: 0 1 40%;
    width: 45%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #888; }

.explanation-4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 90%;
  margin: 0 auto; }
  .explanation-4__description {
    flex: 0 1 60%;
    font-size: 35px;
    font-weight: bolder;
    text-align: right; }
    .explanation-4__description-section {
      position: relative;
      width: 50%;
      padding: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
    .explanation-4__description_sub {
      color: #999999;
      width: 80%;
      text-align: right; }
  .explanation-4__video {
    flex: 0 1 40%;
    width: 45%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #888; }

.explanation-5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 90%;
  margin: 0 auto; }
  .explanation-5__description {
    flex: 0 1 60%;
    font-size: 35px;
    font-weight: bolder; }
    .explanation-5__description-section {
      position: relative;
      width: 50%;
      padding: 30px 0 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .explanation-5__description_sub {
      color: #999999;
      width: 80%; }
  .explanation-5__video {
    flex: 0 1 40%;
    width: 45%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #888; }

.review-section {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.review-title {
  color: white;
  font-size: 60px;
  font-weight: bolder; }
  .review-title_ {
    color: #999999;
    font-size: 60px;
    font-weight: bolder; }

.review-box {
  overflow: hidden;
  margin: 0 auto;
  background-color: #282b2a;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  width: 60%; }

.review-array {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.review-item {
  display: flex;
  flex-direction: row;
  align-items: center; }

.review-quotationmark {
  margin: 0 auto;
  width: 40vw;
  display: flex;
  justify-content: space-between; }
  .review-quotationmark > span {
    color: #7985ed;
    font-size: 50px; }

.review-content {
  color: white;
  font-size: 20px;
  width: 65%;
  margin: 0 auto;
  text-align: center; }

.review-tag {
  display: flex;
  flex-direction: column; }
  .review-tag-name {
    color: white;
    font-size: 12px; }
    .review-tag-name-sub {
      color: #767676;
      font-size: 12px; }
    .review-tag-name-column {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .review-tag-name-section {
      margin: 0 auto;
      display: flex; }
    .review-tag-name-icon {
      background-color: white;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center; }

.review-pagination {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center; }
  .review-pagination-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #828383; }

.arrow {
  border: solid #828484;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer; }

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer; }

.column-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.row-centered {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between; }
