.footer {
  &-row {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15%;
  }

  &-column {
    display: flex;
    flex-direction: column;
  }

  &-logo {
    color: white;
    font-weight: 900;
    font-size: 50px;

    &-line {
      width: 100%;
      margin-top: 20px;
      border-top: 1px solid white;
      margin-bottom: 20px;
    }

    &-sub {
      color: white;
      font-weight: 900;
      letter-spacing: 10px;
      font-size: 25px;
    }
  }

  &-menu {
    @for $i from 0 through 1 {
      &-#{$i} {
        &-title {
          color: white;
          font-size: 20px;
          font-weight: 800;
        }

        &-divider {
          border-top: 1px solid white;
          width: 100px;
        }

        @for $j from 1 through 4 {
          &-#{$j} {
            color: #757475;
            font-size: 14px;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }

  &-option {
    width: 150px;
  }

  &-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 15%;
  }

  &-copyright {
    color: #757475;
    text-align: right;
  }
}
