.registerbox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 45%;

  &__email {
    flex: 0 1 80%;
    background-color: #343434;
    color: #999999;
    font-size: 1.5vw;
    padding: 20px 10px 20px 10px;
    border-radius: 5px 0px 0px 5px;
    resize: none; /*remove the resize handle on the bottom right*/

    [contenteditable="true"]:focus {
      outline: none;
    }

    [contenteditable="true"]:empty:before {
      content: attr(placeholder);
      display: block; /* For Firefox */
    }

    &[contenteditable="true"] {
      color: #333;
      font-size: 12px;
      width: 300px;
      padding: 5px;
    }
  }

  &__button {
    cursor: pointer;
    flex: 0 1 20%;
    background-color: #57a5dc;
    color: white;
    font-size: 1.5vw;
    padding: 20px 10px 20px 10px;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
  }

  &__warning {
    font-size: 1.5vw;
    color: #999999;
    text-align: center;
    width: 40%;
  }
}
