.review {
  &-0 {
  }
  &-1,
  &-2 {
    display: none;
  }

  &-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-title {
    color: #4b4b4b;
    font-size: 60px;
    font-weight: bolder;
    &_ {
      color: #999999;
      font-size: 60px;
      font-weight: bolder;
    }
  }

  &-box {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 2px #c0c0c0;
    width: 60%;
    min-width: 60%;
    height: 400px;
  }

  &-array {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &-quotationmark {
    margin: 0 auto;
    width: 40vw;
    display: flex;
    justify-content: space-between;
    & > span {
      color: #7985ed;
      font-size: 50px;
    }
  }

  &-content {
    color: black;
    font-size: 20px;
    width: 35vw;
    margin: 0 auto;
    text-align: center;
  }

  &-tag {
    display: flex;
    flex-direction: column;
    &-name {
      color: black;
      font-size: 12px;
      &-sub {
        color: #767676;
        font-size: 12px;
      }
      &-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-section {
        margin: 0 auto;
        display: flex;
      }
      &-icon {
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &-pagination {
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 40px;
    flex-direction: row;
    justify-content: center;

    &-dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #828383;

      &-small {
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        right: 0px;
        transform: translate(-50%, -50%);
        z-index: 100;
        background-color: #f8f8ff;
      }
    }
  }
}

.arrow_enclosure {
  &-left,
  &-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    & > .arrow {
      border: solid #828484;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
  }

  &-left {
    left: 20px;
  }

  &-right {
    right: 20px;
  }
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;

  top: 0;
  bottom: 0;
}

.move-left {
  transform: translateX(-175%);
  transition: transform 1s;
}

.move-right {
  transform: translateX(173%);
  transition: transform 1s;
}

.dot-move-right {
  transform: translate(0%, -50%);
  transition: transform 1s;
  animation-fill-mode: forwards;
}

.dot-move-left {
  transform: translate(-300%, -50%);
  transition: transform 1s;
}
