.root {
  overflow: hidden;
}

.section-1,
.section-2,
.section-5 {
  background-color: #232323;
}

.section-3 {
  background-color: white;
}

.section-4 {
  background-color: #e1e1e1;
}

.footer {
  background-color: #131312;
  overflow-x: hidden;
}
